<nav class="navbar-expand-md border-bottom mb-3 nav-background">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-light">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/projects" routerLinkActive="text-light">Projects</a>
            </li>
        </ul>
    </div>

</nav>