<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/default_profile_picture.jpeg" alt="profile picture" class="profile-picture rounded-circle">
                <p class="text-center">Been working with software development since 2013, and applying my knowledge in solving real problems by delivering results and turning tech into a daily routine.</p>
                <p class="text-start">Quick summary of my experiences:</p>
                <p class="text-start">
                    - Development of mechanical engineering industry internal software, solving ERP, production management and accounting problems using C# and SQL
                </p>
                <p class="text-start">
                    - Development of Shellbox app backend services using NodeJs and AWS delivering a new loyalty program for the Argentinian version of the app.
                </p>
                <p class="text-start">
                    - Development of frontend internal web apps for Shellbox's support team using Angular v16, delivering an approval and auditing system for retail discount campaigns and much more.
                </p>
            </div>
        </div>        
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img class="img" src={{picture}} alt="slide"></slide>
                </div>        
            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the Portfolio section to learn more!</p>
        </div>
    </div>
</div>